*.dat
*.ini
*.tmp*
.cache
.cargo
.config/btop/*.log
.config/btop/*.log.*
.config/clipse/clipboard_history.json
.config/systemd/*
.gnupg
.lldb
.local
.mozilla
.newsboat/*.db*
.npm
.oh-my-zsh
.rustup
.ssh
Downloads
Repositories
dconf
gh
gh-dash
go
lazygit
