layout {
    pane split_direction="vertical" {
    pane size="70%" command="nvim" // panes can be bare
    pane size="30%" split_direction="horizontal" {
     pane size="33%" command="btop" // panes can have arguments on the same line
     pane size="33%" command="lazygit"
     pane size="33%"
    }
    }
}
