layout {
    pane split_direction="horizontal" {
    pane size="33%" split_direction="vertical" {
    pane size="50%" name="bandwhich" command="bandwhich"
     pane size="25%" name="dig"
     pane size="25%" name="subfinder"
    }
    pane size="33%" split_direction="vertical" {
     pane size="25%" name="recon-ng"
     pane size="25%" name="dnsrecon"
     pane size="25%" name="gobuster"
     pane size="25%" name="x8"
    }
    pane size="33%" split_direction="vertical" {
     pane size="25%" name="rustscan"
     pane size="25%" name="whois"
     pane size="25%" name="amass"
     pane size="25%" name="sherlock"
    }
    }
}
